body{
    text-align: center;
}
.box {
    height: 200px;
    width: 200px;
    margin: 1rem;
    border-radius: 20%;
    border: 10px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: 900;
}
.box-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #229983;
}
.purple{
    background-color: #819ff9;
}
.flash{
    background-color: white;
}