*{
  text-align: center;
  font-family: Georgia;
}
h1{
  text-decoration: underline;
}
h3{
  color: black;
}
p{
  color: red;
  line-height: 30px;
}
h4 a {
  color: green;
  text-decoration: none;
}
button{
  background-color: white;
  color: blueviolet;
}
textarea{
  color: #000;
}